* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins-Regular", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: url(WhatsApp\ Image\ 2024-02-18\ at\ 03.24.00_3f1ffe35.jpg);
  /* background-color: rgb(14, 99, 99); */
}
h2 {
  color: aliceblue;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
  margin: 10px;
  height: 400px;
  width: 350px;
  background: transparent;
  border-radius: 12px;
  border: 2px solid rgb(183, 82, 110);
}

.main-form form{
  backdrop-filter: blur(40px);
}

.user-id {
  color: aliceblue;
}

.user-id-input {
  position: relative;
  width: 250px;
  background: transparent;
  height: 25px;
  font-size: 1rem;
  border: none;
  outline: none;
  transition: 0.5s;
  font-size: 1.2em;
  border-bottom: 2px solid #ccc;
  border-radius: 10px;
  transition: border-bottom-color 0.3s;
  color: #ccc;
  text-align: center;
}

.password-input {
  position: relative;
  width: 250px;
  background: transparent;
  height: 25px;
  border: none;
  font-size: 1rem;
  outline: none;
  transition: 0.5s;
  font-size: 1.2em;
  border-radius: 10px;
  border-bottom: 2px solid #ccc; 
  transition: border-bottom-color 0.3s;
  color: #ccc;
  text-align:center;
}

.password-input:focus {
  border-bottom-color: rgb(183, 82, 110);
  transition: 0.9s;
}
.user-id-input:focus{
  border-bottom-color: rgb(183, 82, 110);
  transition: 0.9s;
}


.password {
  color: aliceblue;
}

button{
  width: 150px;
  border-radius: 10px;
  height: 30px;
  background: rgb(45, 122, 122);
  color: #fff;
  transition: 0.3s;
}

button:hover{
  transition: 0.9s;
  background: rgb(14, 14, 97);
  cursor: pointer;
}

.rem-forgot label{
  color: #fff;
  margin-right: 140px;
}
h4{
  color: white;
}
.register a{
  color: #fff;
  transition: color 0.3s;
}

.register a:hover{
  color: red;
  transition: color 0.8s;
}

