*{
    border:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,#84ffc9,#aab2ff, #40c9ff, #eca0ff);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;

}

#main{
    width:90%;
    min-width: 300px;
    height: 80vh;
    min-height: 500px;
    background-color: aliceblue;
    margin-top: 10vh;
    border-radius: 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
    font-family: "Popins-Regular", sans-serif;
    align-items: center;
}

#main h1{
    font-family: "Poppins-Bold", sans-serif;
    margin:0;
}

#searchandprofile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 5%;
}

#searchbar{
    width: 100%;
    min-width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
}


#profile{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border:2px solid white;
    color:white;
    margin-left: 10px;
    font-size: 1.5rem;
    background-color: rgb(3, 34, 3);
    width:40px;
    height: 40px;
    cursor: pointer;
}

#profilelarge{
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border:2px solid white;
    color:white;
    margin-left: 10px;
    font-size: 1.7rem;
    background-color: rgb(3, 34, 3);
    width:60px;
    height: 60px;
}

#dropdown{
    /* display: none; */
    position: fixed;
    width:300px;
    height: 300px;
    background:linear-gradient(#654ea2,#353335);
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#dropdown>p{
    margin-top:0;
}

#borderforname{
    border-bottom: 1px solid rgb(255, 255, 255);
    width:100%;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

#borderforname>h2{
    margin-bottom: 5px;
}

#logoutbutton{
    margin-top: 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    min-width:100px;
    min-height: 30px;
    cursor: pointer;

}

#searchbox{
    display:flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding:2px;
    font-size: 1.2rem;
}

#menucontainer{
    background-color: white;
    width: 80%;
    height: 90%;
    margin-bottom: 2%;
    overflow-y: scroll;
}

.entry{
    display:flex;
    justify-content: space-between;
    margin:10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding:5px 10px;
}

#newandrecent{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:20px 0;
}


#newfirbutton{
    background-color:green;
    color: white;
    position: absolute;
    left: 14vw;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px 20px;
}

#newfirbutton:hover{
    background-color: #27762a;
}

#newfirbutton:active{
    background-color: #308c36;
}

.buttoncontainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.styledetailsbutton{
    background-color: rgb(45, 39, 39);
    color: white;
    border: none;
    border-radius: 20px;
    min-width:100px;
    min-height: 30px;
    cursor: pointer;
}

.styledownloadbutton{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    min-width:100px;
    min-height: 30px;
    cursor: pointer;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: azure;
    margin-top: 5px;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
    
    
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(#642bff,#ff22e6);
    border-radius: 10px;
}
