*{
    border:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,#84ffc9,#aab2ff, #40c9ff, #eca0ff);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;

}

#main{
    width:90%;
    min-width: 300px;
    height: 80vh;
    min-height: 500px;
    background-color: aliceblue;
    margin-top: 10vh;
    border-radius: 10px;
    display: flex;
    align-self: center;
    flex-direction: column;
    font-family: "Popins-Regular", sans-serif;
    align-items: center;
}

#main h1{
    font-family: "Poppins-Bold", sans-serif;
}

#searchandprofile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 5%;
}

.searchbar{
    width: 0px;
    height: 30px;
    border-radius: 30px;
    padding:4px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    transition: width 0.25 smooth;
}

#profilepic{
    width: 30px;
    height:30px;
    border-radius: 50%;
    background-color: white;
    align-self: center;
    cursor: pointer;
}

#profile{
    display: flex;
    align-items: center;
    margin-left: 10px;
}


#menucontainer{
    background-color: white;
    width: 80%;
    height: 90%;
    margin-bottom: 2%;
    overflow:hidden;
}

.entry{
    display:flex;
    justify-content: space-between;
    margin:10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding:5px 10px;
}

.buttoncontainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.styleremovebutton{
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    min-width:100px;
    min-height: 30px;
    cursor: pointer;
}

.styledownloadbutton{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    min-width:100px;
    min-height: 30px;
    cursor: pointer;
}

.searchbutton, .closebutton{
    width : 30px;
    height: 30px;
    font-size: 15px;
    background-color: white;
    position: absolute;
    cursor: pointer;
    transition: all 0.25 ease;
    background-color: transparent;
}

.closebutton{
    margin-left: 5px;
    color:rgb(75, 75, 163);
    z-index: -1;
    background-color: transparent;
}

.active .searchbar{
    width: 250px;
}

.active .searchbutton{
    transform: translate(180px,2px) scale();
    background-color: transparent;
}

.active .closebutton{
    z-index: 0;
    transform: translate(35px,-2px);
}